<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
<h3>Hello Pets!</h3>
<img src='images/pet_pic.jpg' alt='picture of pets'>
<div class="box">
    <a href="https://www.google.com/search?q=pet+pictures">More Pics of Pets</a>
</div>
</body>
</html>